<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Edit Mongoose</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Please add your new mongoose!</h1>
            <form action='/mongooses/edit/<%= mongoose._id %>' method='POST'>
                <label for="name">Name:</label>
                <input type='text' name='name' placeholder='<%= mongoose.name %>' value='<%= mongoose.name %>'/><br>
                <label for="age">Age:</label>
                <input type='text' name='age' placeholder='<%= mongoose.age %>' value='<%= mongoose.age %>'/><br>                
                <input type='submit' value='Submit'/>                
            </form>
        </div>
    </body>
</html>