@{
    ViewData["Title"] = "Home Page";
}
<!-- <form action='/logout' method='POST'>
    <input type='submit' value='Log Out'/>
</form> -->
<a href='/logout'>Log Out</a>

<form action="/addMessage" method="POST">
    <label for='message'>Post a message:</label>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Post a message"> 
</form><br><br>
<hr><br><br>
@foreach(var error in ViewBag.MessageErrors)
{
    <p class="red">@error</p>
}
@foreach(var mess in ViewBag.MessageList)
{
    <h6>@mess["firstName"] @mess["lastName"] - @mess["created_at"].ToString("MMM d, yyyy")</h6>
    <p>@mess["message"]</p>
    @if(@ViewBag.userid == @mess["message_user_id"] && @mess["created_at"].AddMinutes(30) >= DateTime.Now)
    {
        <form action='/deleteMessage' method='POST'>
            <input type='hidden' name='messageid' value='@mess["id"]'/>
            <input type="submit" value="Delete Message"> 
        </form><br>
    }
    <form action="/addComment" method="POST">
        <label for='comment'>Post a comment:</label>
        <input type='hidden' name='messageid' value='@mess["id"]'/>
        <!-- <input type='hidden' name='userid' value='@mess["id"]'/> -->
        <textarea name="comment"></textarea><br>
        <input type="submit" value="Post a comment"> 
    </form><br>
    @foreach(var comment in ViewBag.CommentList)
    {
        @if(@comment["comment_message_id"] == @mess["id"])
        {
            <h6>@comment["user_firstName"] @comment["user_lastName"] - @comment["comment_created_at"].ToString("MMM d, yyyy")</h6>  
            <p>@comment["comment"]</p>
        }
    }
}